<!DOCTYPE html>
<html>
  <head>
    <title>{{- block "title" . }}{{ .Site.Title }}{{- end }}</title>
    {{- block "head" . }}{{- end }}
    {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="stylesheet" href="{{ (resources.Get "katex.min.css").Permalink }}">
    <script defer src="{{ (resources.Get "katex.min.js").Permalink }}"></script>
    <script defer src="{{ (resources.Get "auto-render.min.js").Permalink }}" onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <div class="container">
      <header>
        {{- block "header" . }}
          {{ partial "header.html" . }}
          <div class="meta">
            {{- block "meta" . }}{{- end }}
          </div>
        {{- end }}
      </header>
      <main>
        {{- block "main" . }}{{- end }}
      </main>
      <footer>
        {{- block "footer" . }}
          {{ partial "footer.html" . }}
        {{- end }}
      </footer>
    </div>
  </body>
</html>
