<!DOCTYPE html>
{{ if .Site.Params.darkMode }}
<html class="darkmode">
{{ else }}
<html>
{{ end }}
  <head>
    <title>{{- block "title" . }}{{ .Site.Title }}{{- end }}</title>
    {{- block "head" . }}{{- end }}
    <meta name="viewport" content="width=device-width">
    {{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div class="container">
      <header>
        {{- block "header" . }}
          {{ partial "header.html" . }}
          <div class="meta">
            {{- block "meta" . }}{{- end }}
          </div>
        {{- end }}
      </header>
      <main>
        {{- block "main" . }}{{- end }}
      </main>
      <footer>
        {{- block "footer" . }}
          {{ partial "footer.html" . }}
        {{- end }}
      </footer>
    </div>
    {{ partial "analytics.html" . }}
    {{ partial "mermaid.html" . }}
  </body>
</html>
