{{ define "meta" }}
  <p>
    <span class="right">
      {{ .Params.author }}
      <br>
      <span title="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</span>
      <br>
      ver. {{ .Params.version }}
    </span>
    <a href="{{ ref . "/" }}">home</a>
    <br>
    &nbsp;
    <br>
    <a href="{{ ref . "/posts" }}">+post</a>
    {{- range (.GetTerms "tags") }} <a href="{{ .Permalink }}">+{{ .LinkTitle }}</a> {{- end }}
  </p>
{{ end }}

{{ define "main" }}
  <div class="page-content">
    {{ .Content }}
  </div>
{{ end }}