{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "meta" }}
  <p>
    <span class="right">
      {{ .Params.author }}
      <br>&nbsp;<br>
      <span title="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</span>
    </span>
    {{- range (.GetTerms "tags") }} <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a> {{- end }}
    <br>&nbsp;<br>
    <a href="{{ ref . "/posts" }}">all posts</a>
    <a href="{{ ref . "/tags" }}">all tags</a>
    <a href="{{ ref . "/" }}">home</a>
  </p>
{{ end }}

{{ define "main" }}
  <div class="page-content">
    {{ .Content }}
  </div>
{{ end }}
