{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "head"}}
  <link rel="stylesheet" href="{{ (resources.Get "katex.min.css").Permalink }}">
  <script defer src="{{ (resources.Get "katex.min.js").Permalink }}"></script>
  <script defer src="{{ (resources.Get "auto-render.min.js").Permalink }}" onload="renderMathInElement(document.body);"></script>
{{ end }}

{{ define "meta" }}
  <p>
    <span class="right">
      {{ .Params.author }}
      <br>&nbsp;<br>
      <span title="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</span>
    </span>
    {{- range (.GetTerms "tags") }} <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a> {{- end }}
    <br>&nbsp;<br>
    <a href="{{ ref . "/posts" }}">all posts</a>
    <a href="{{ ref . "/tags" }}">all tags</a>
    <a href="{{ ref . "/" }}">home</a>
  </p>
{{ end }}

{{ define "main" }}
  <div class="page-content">
    {{ .Content }}
  </div>
{{ end }}
