<ul class="plain-list content-tree">
  {{ if not .IsHome }}
    {{ range sort (where .Pages "Kind" "page") "Date" "desc" }}
      <li>
        <div>
          <span class="monospace color-grey-dark">[{{ .Date.Format "2006-01-02" }}]</span> <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </div>
      </li>
    {{ end }}
  {{ end }}
  {{ range .Sections }}
    <li class="nested-list">
      <h5>
        <a href="{{ .Permalink }}">{{ partial "text/section-slug.html" . }}/</a>
      </h5>
    </li>
    <li class="nested-list">{{ partial "content-tree.html" . }}</li>
  {{ end }}
</ul>